{% extends 'base.html.twig' %}

{% block title %}New Dance{% endblock %}

{% block body %}
    <h1>Create new Dance</h1>

    {{ include('dance/_form.html.twig') }}

    <a href="{{ path('dance_index') }}">back to list</a>
{% endblock %}
