$theme-colors: (
    "primary": #DFDFFF,
    "secondary": #9F9FCF,
);

@import "~bootstrap/scss/bootstrap";
@import "./carousel.scss";
@import "./home.scss";
@import "./dance_show.scss";
@import "./my_profile.scss";

$fontsize: 1em;

body {
    background: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

