
.selected-dance {
    background: black;
    width: 90%;
    height: 400px;
    box-shadow: 0px 0px 6px black;

    .dance-image-and-name {
        width: 30%;

        .show-dance-image {
            width: 100%;
            height: 76%;
            display: block;
        }

        .show-dance-name {
            height: 24%;
            background: black;
            color: white;
            padding: 10px;
            font-size: 2.1em;
        }
    }

    .show-dance-description {
        width: 70%;
        font-size: 1.2em;
        padding: 30px;
        color: white;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 30px;
        }

        &::-webkit-scrollbar-thumb {
            background: red;
            border-radius: 20px;
        }

        &::-webkit-scrollbar-button {
            background: black;
        }

        &::-webkit-scrollbar-track {
            background: gold;
            border-radius: 20px;
        }
    }
}

@keyframes bckgColorAnim {
    0% {
        background: black;
        padding-right: 60%;
    } 20% {
        background: orange;
        padding-right: 50%;
    } 40% {
        background: gold;
        padding-right: 40%;
    } 60% {
        background: lime;
        padding-right: 30%;
    } 80% {
        background: cyan;
        padding-right: 20%;
    } 100% {
        background: black;
        padding-right: 60%;
    }
}

.header-teachers {
    text-align: right;
    color: white;
    margin: 0px;
    font-weight: bold;
    padding: 20px;

    animation-name: bckgColorAnim;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
}


.list-dance-teacher {
    height: 400px;
    margin-bottom: 30px;
}

.dance-teacher {
    a {
        text-decoration: none;

        .dance-teacher-image {
            display: block;
            height: 80%;
            width: 100%;
            transition: all ease-in-out 300ms;

            &:hover {
                transform: scale(1.06);
            }
        }

        .dance-teacher-name {
            height: 20%;
            background: black;
            color: white;
            font-size: 1.2em;
            font-weight: bold;
            transition: all ease-in-out 300ms;

            &:hover {
                transform: scale(1.1);
                background: white;
                color: black;
            }
        }
    }
}
